h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.navBar{
  background-color: rgb(44, 44, 44);
}
.navBar a{
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  line-height: 50px;
  margin-left: 50px;
  font-size: 20px;
  padding: 10px 0;
}
